{:paths ["src" "resources"]
 :deps  {io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                 :git/sha "0b120ccf68d1ca43b7f66547344796195957ab6e"
                                                 :deps/root "spec"}
         io.github.slagyr/isaac-foundation-test-support {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                         :git/sha "0b120ccf68d1ca43b7f66547344796195957ab6e"
                                                         :deps/root "spec-support"}
         speclj/speclj                          {:mvn/version "3.13.0"}}}
